@import "tailwindcss";

body {
  font-family: var(--font-lato), var(--font-open-sans), sans-serif;
}

.font-open-sans {
  font-family: var(--font-open-sans), sans-serif;
}

:root {
  /* Primary Colors */
  --color-primary: #28328c;
  --color-primary-dark: #2d2d32;
  
  /* Secondary Colors */
  --color-secondary: #14bef0;

  /* White-based Colors */
  --color-primary-white: #ffffff;
}
